@import "../../../app.scss";
.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #151533, #0c0c1d);
  position: relative;
//   z-index: -999999;

  .wrapper {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    // z-index: -999;
    

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      width: 70%;

      @include mobile{
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

      h2{
        font-size: 30px;
        background: linear-gradient(90deg, #9d79d2, #2d1550);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 3px;
      }

      h1{
        font-size: 88px;

        @include mobile{
          font-size: 36px;
      }
      }

      .buttons{
        z-index: 999;

        button{
            padding: 20px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            color: whitesmoke;
            margin-right: 20px;
            cursor: pointer;
            font-weight: 50;
        }
      }
      img {
        width: 50px;
        margin: 0;
        padding: 0;
        
      }
    }
  }
  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile{
      height: 50%;
      width: 100%;
      bottom: 0;
      top: unset;
      
  }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slidingTextContainer{
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    // z-index: -9999999999999;
    width: 50%;
    font-weight: bold;
  }
}

//test
